<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="prog_set_panel_adv">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<rows>3</rows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>File pathes:</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<rows>3</rows>
							<object class="sizeritem">
								<object class="wxCheckBox" name="ID_CHECKBOX1" variable="CheckBox1" member="yes">
									<label>Use own path to Mysql bin directory</label>
									<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>MySQL bin directory path:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="Custom" name="ID_CUSTOM1" subclass="wxDirPickerCtrl" variable="DirPickerCtrl1" member="yes">
											<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),wxEmptyString,__(&quot;Select a folder&quot;),$(POS),$(SIZE),wxDIRP__DEFAULT__STYLE,wxDefaultValidator,$(NAME));</creating_code>
											<include_file>wx/filepicker.h</include_file>
											<style></style>
											<enabled>0</enabled>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
