[Desktop Entry]
Encoding=UTF-8
GenericName=ETM Manager for time logging
Name=ETM Manager
Exec=etmmanager
Icon=etmmanager
Terminal=false
Type=Application
Categories=Utility;X-SuSE-TimeUtility;
 
StartupNotify=true