[Desktop Entry]
Comment=ETM Manager for time logging
Exec=etmmanager
Name=ETM Manager
GenericName=ETM Manager for time logging
Icon=etmmanager
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;X-SuSE-TimeUtility;
X-SuSE-translate=false
