[Desktop Entry]
X-SuSE-translate=true
Categories=Application;Utility;X-SuSE-TimeUtility;
Comment=ETM Manager for time logging
Exec=etmmanager
Name=ETM Manager
GenericName=ETM Manager for time logging
Icon=etmmanager
StartupNotify=true
Terminal=false
Type=Application
